@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #1e1e1e;
}

#__next {
  height: 100vh;
  background-color: #1e1e1e;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gradient-bg {
  background: linear-gradient(270deg, #000000 -2.92%, rgba(0, 0, 0, 0) 100%);
}

.gradient-result-card {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.centered-axis-xy {
  position: absolute;
  /* left: 50%; */
  top: 50%;
  transform: translate(22px, -50%);
}

i {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border-width: thin
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 22px;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 10%;
}

input::-webkit-datetime-edit {
  position: relative;
  left: 10%;
}